.bottom-nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F5;
    color: white;
    padding: 10px;
  }
  
  .left-section, .right-section {
    display: flex;
    gap: 1px;
  }
  
  .nav-button {
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  @media (max-width: 868px) {
    .bottom-nav-container {
        display: flex;
        background-color: #F5F5F5;
        color: white;
        gap: 1px;
      }
      .left-section {
        display: flex;
        gap: 1px;
      }

      .right-section {
        display: flex;
        gap: 1px;
      }
}


  @media (max-width: 768px) {
    .bottom-nav-container{
        display: none;
    }
  }
  