.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #333;
    color: #fff;
  }
 
  .left-side {
    display: flex;
    align-items: center;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .brand span {
    color: #ff6600; 
  }
  
  .search-bar {
    margin-left: 20px;
    display: flex;
    align-items: center;
  }

  .search-icon {
    margin-left: -20px;
    color: #666;
    cursor: pointer;
  }
  
  .search-bar input {
    width: 250px; 
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;

  }

  .right-side {
    display: flex;
    align-items: center;
  }
  
  .location,
  .sign-in,
  .menu-icon {
    margin-right: 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  
  .location-text {
    margin-right: 5px;
    font-size: 1rem;
  }
  
  .sign-in button {
    padding: 8px 15px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
  }

  .right-side button:hover {
    background-color: #e05a00; /* Change color on hover */
  }

  .left-side div span {
    font-family: 'Arial', sans-serif;
    font-size: 2rem; 
    font-weight: 200;
    color: #885c5c; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: relative;
    animation: textAnimation 1.5s ease-in-out infinite alternate; 
  }
  
  .left-side div span span {
    position: relative;
    z-index: 1;
    color: rgb(243, 237, 237);
  }
  
  .left-side div span span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    background-color: #ff6600; 
    border-radius: 20px;
    transform: rotate(15deg);
    z-index: -1;
  }
  
  @keyframes textAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-3px);
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
  }
  

  .sidebar-open {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
      .sign-in, .location {
        display: none;
      }
      .left-side div span {
        font-size: 1.5rem;
      }
  }

  @media screen and (max-width:512px) {
    .search-bar input {
        width: 150px; 
        padding: 8px;
        border: none;
        border-radius: 5px;
    
      }
      .left-side div span {
        font-size: 1.3rem;
      }
  }
  